*{
    margin: 0px;
    padding: 0px;
}

.herosection{
    background-image: url(./assets/Traveller\ 1.png);
    height: 750px;
    background-repeat: no-repeat;
    background-position: right top;
    object-fit: cover;
    margin-top: 30px;
}
.herocontent{
    width: 50%;
    height: 80%;
}
.herocontent h4{
    font-weight: bold;
    color: #DF6951;
}
.herocontent h1{
    font-weight: bold;
    font-size: 60px;
    color: rgb(18, 18, 55);
}
.herocontent p{
    color: rgb(18, 18, 55);
}
.button{
    background-color:rgb(249, 171, 28);
    color: white;
}
.heading{
    margin-top: 100px;
    color: rgb(18, 18, 55);
    
    
}
.heading h2{
    font-weight: bold;
}

.cards{
    text-align: center;
}

.cardsection1{

  margin-top: 80px;
}


/* cardsection2 */

.card2img1{
    background-image: url(./assets/Rectangle\ 14@2x.png);
    background-size: cover;
    height: 300px;
    background-repeat: no-repeat;
    object-position: center;
    
}
.card2img2{
    background-image: url(./assets/Rectangle\ 14.jpg);
    background-size: cover;
    height: 300px;
    background-repeat: no-repeat;
    object-position: center;
}
.card2img3{
background-image: url(./assets/img3.png);
    background-size: cover;
    height: 300px;
    background-repeat: no-repeat;
    object-position: center;
}

.paraa p, .parab p, .paralast {
    /* font-weight: bold; */
    font-size: 20px;
    text-align: center;
    color: grey;
}

/* section */

.section{
    margin-top: 100px;
}


.section1icon i{
    font-size: 80px;
    background-color: yellow;
    color: white;
   padding: 10px;
   border-radius: 10px; 
}
.paragraph1{
    font-size: 20px;
}
.section1heading h2{
    font-size: 45px;
    font-weight: bold;
}
.section1icon2{
     font-size: 80px;
    background-color: orange;
    color: white;
   padding: 10px;
   border-radius: 10px; 
}
.section1icon3{
     font-size: 80px;
    background-color: rgb(17, 102, 145);
    color: white;
   padding: 10px;
   border-radius: 10px; 
}

.section2{
    margin-top: 150px;
}
.sectionimg{
    background-image: url(./assets/img3.png);
    object-fit: cover;
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;


}
.sectioncontent{
    text-align: center

}
.contenticon i{
    color: grey;
    background-color: rgb(220, 220, 220);
    padding: 10px;
    border-radius: 50%;
}
/* section 3 */

.section3{
background-color: rgb(241, 232, 232);
margin-top: 100px;
 padding: 50px 100px;
 border-radius: 30px;
margin-bottom: 100px;
}
.sec3para p {
    text-align: center;
    font-size: 30px;
   padding-bottom: 40px;
   color: rgb(118, 116, 116);
   font-weight: bold;
}
.inputfield{
    width: 300px;
    border: none;
    padding: 7px 15px;

}
.formbtn{
    width: 130px;
    padding: 10px 20px;
    background-color: #ea806b;
    color: white;
    border: none;
    border-radius: 10px;
}


.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.unorder{
    list-style-type: none;
    padding-left: 0px;
    color: rgb(118, 116, 116);
}
.footersec1para{
    font-size: 12px;
    color: rgb(118, 116, 116);
}
.footericon h4{
    font-size: 40px;
}

.footerheading h6{
    font-weight: 700;
    padding-bottom: 10px;
}
.footerbtn1{
    border: none;
    padding: 8px 15px;
    font-size: 12px;
    background-color: black;
    color: white;
}
.footerbtn2{
     border: none;
    padding: 8px 15px;
    font-size: 12px;
    background-color: white;
    color: black;
}
.footerbtn1:hover{
    background-color: white;
    color: black;
}
.footerbtn2:hover{
    background-color: black;
    color: white;
}











/* media querry */

@media (min-width:576px) and (max-width:768px) {
.cardsection1{
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr !important;
}
.footer{
    grid-template-columns: 1fr 1fr 1fr
} 

.section{
    display: grid !important;
    grid-template-columns: 1fr !important;
}
.section1,.section2{
width: 100% !important ;
}
    
}

@media (max-width: 575px) {

    .cardsection1{
        display: grid !important;
        grid-template-columns: 1fr 1fr !important;
    }
    .section{
    display: grid !important;
    grid-template-columns: 1fr !important;
}

.section1,.section2{
width: 100% !important ;
}
.footer{
    grid-template-columns: 1fr 1fr;
}
    
}
